/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
body {
    padding: 0;
    margin: 0;
    background-color: #ced4da;
}

main[role="main"] {
    > article,
    > article > .entry-content {
        > p,
        > blockquote,
        > span {
            margin-left: 1.25em;
            margin-right: 1.25em;
        }

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
            margin-left: 0.7em;
            margin-right: 0.7em;
        }
    }
}

.site {
    padding-left: 33vw;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site.toggled {
    padding-left: 0;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 33vw;
    width: 33vw;
    height: 100%;
    margin-left: -33vw;
    overflow-y: auto;
    background-color: #f4f4f4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.site.toggled {
    .sidebar-wrapper { width: 0; }
}

.page-content-wrapper {
    position: relative;
    width: 100%;
}

.sidebar-toggle {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0.3em 0.3em;
    padding: 0.5em 0.5em 0;
    background-color: #F40022;
    color: #e9ecef;
    border: none;
    transform: translateX(33vw);
    border-radius: 50%;
    box-shadow: 0.16em 0.16em 0.175em rgba(#495057, 0.8);
    transition:
        transform 0.5s ease,
        border-radius 450ms ease-out,
        box-shadow 400ms ease-out,
        color 325ms ease-out,
        background-color 325ms ease-out;
       
}

.site.toggled {
    .page-content-wrapper {
        .sidebar-toggle {
            background-color: transparent;
            color: #9D680A;
            transform: translateX(0);
            border-radius: 0;
            box-shadow: 0 0 rgba(#495057, 0.55);
            transition:
                transform 0.5s ease,
                border-radius 400ms ease-in,
                box-shadow 400ms ease-in,
                color 325ms ease-out,
                background-color 325ms ease-in; 
        }
        position: relative;
        margin-right: 0;
    }
}
